@using Microsoft.AspNetCore.Identity
@using BakeryWebApp.Models.Database

@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

@model FrontTillViewModel
@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Front Till";
}

<div class="container-fluid" style="min-height: 100vh" id="content">
    <div class="row bg-black text-white">
        <nav class="navbar navbar-expand-md bg-black" data-bs-theme="dark" style="max-height: 5vh">
            <div class="container-fluid">
                <a class="navbar-brand me-4" asp-controller="Home" asp-action="Index">Bakery Management</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                    </ul>
                    <div class="d-flex">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <span id="manage" class="text-light">@UserManager.GetUserName(User)</span>
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                            </form>
                        }
                        else
                        {
                            <a class="btn btn-light me-3" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            <a class="btn btn-outline-light" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </div>
    @if (!SignInManager.IsSignedIn(User))
    {
        <div class="row" style="min-height: 95vh">
            <div class="col-md-6 p-1">
                <div class="h-100 bg-white">
                    <ul class="nav nav-tabs" role="tablist" data-bs-theme="dark">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#products-tab" aria-selected="true" role="tab"><i class="fa-solid fa-cube me-1"></i> Products</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#orders-tab" aria-selected="false" tabindex="-1" role="tab"><i class="fa-solid fa-cubes me-1"></i> Orders</a>
                        </li>
                    </ul>
                    <div id="tabContent" class="tab-content p-2 bg-dark" style="--bs-bg-opacity: .1;">
                        <div class="tab-pane show active" id="products-tab" role="tabpanel">
                            @if (Model.AvailableProducts.Count <= 0 ) 
                            {
                                <div class="alert alert-light mt-3 h4">
                                    No available products.
                                </div>
                            }
                            else 
                            {
                                <div class="row row-cols-auto align-items-start g-4 overflow-auto" style="max-height: 85vh">
                                    @foreach (Product product in Model.AvailableProducts)
                                    {
                                        <div class="col">
                                            <div class="card bg-success" style="--bs-bg-opacity: .6; width: 175px; height: 175px;">
                                                <div class="card-body text-center p-0">
                                                    @* <svg class="d-block user-select-none" width="100%" height="100%" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:2.125rem;text-anchor:middle"> *@
                                                    @*     <rect width="100%" height="100%" fill="#666"></rect> *@
                                                    @*     <text x="50%" y="50%" fill="#fff" dy=".3em">@product.ProductName</text> *@
                                                    @* </svg> *@
                                                </div>
                                                <div class="card-footer">
                                                    <form>
                                                        @* <div class="input-group"> *@
                                                        @*     <input type="number" placeholder="Qty" value="1" class="form-control" /> *@
                                                        @*     <button type="submit" class="btn btn-primary">Add</button> *@
                                                        @* </div> *@
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @foreach (Product product in Model.AvailableProducts)
                                    {
                                        <div class="col">
                                            <div class="card bg-success" style="--bs-bg-opacity: .6; width: 175px; height: 175px;">
                                                <div class="card-body text-center p-0">
                                                    <svg class="d-block user-select-none" width="100%" height="100%" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:2.125rem;text-anchor:middle">
                                                        <rect width="100%" height="100%" fill="#666"></rect>
                                                        <text x="50%" y="50%" fill="#fff" dy=".3em">@product.ProductName</text>
                                                    </svg>
                                                </div>
                                                <div class="card-footer">
                                                    <form>
                                                        <div class="input-group">
                                                            <input type="number" placeholder="Qty" value="1" class="form-control" />
                                                            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @foreach (Product product in Model.AvailableProducts)
                                    {
                                        <div class="col">
                                            <div class="card bg-success" style="--bs-bg-opacity: .6; width: 175px; height: 175px;">
                                                <div class="card-body text-center p-0">
                                                    <svg class="d-block user-select-none" width="100%" height="100%" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:2.125rem;text-anchor:middle">
                                                        <rect width="100%" height="100%" fill="#666"></rect>
                                                        <text x="50%" y="50%" fill="#fff" dy=".3em">@product.ProductName</text>
                                                    </svg>
                                                </div>
                                                <div class="card-footer">
                                                    <form>
                                                        <div class="input-group">
                                                            <input type="number" placeholder="Qty" value="1" class="form-control" />
                                                            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @foreach (Product product in Model.AvailableProducts)
                                    {
                                        <div class="col">
                                            <div class="card bg-success" style="--bs-bg-opacity: .6; width: 175px; height: 175px;">
                                                <div class="card-body text-center p-0">
                                                    <svg class="d-block user-select-none" width="100%" height="100%" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:2.125rem;text-anchor:middle">
                                                        <rect width="100%" height="100%" fill="#666"></rect>
                                                        <text x="50%" y="50%" fill="#fff" dy=".3em">@product.ProductName</text>
                                                    </svg>
                                                </div>
                                                <div class="card-footer">
                                                    <form>
                                                        <div class="input-group">
                                                            <input type="number" placeholder="Qty" value="1" class="form-control" />
                                                            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @foreach (Product product in Model.AvailableProducts)
                                    {
                                        <div class="col">
                                            <div class="card bg-success" style="--bs-bg-opacity: .6; width: 175px; height: 175px;">
                                                <div class="card-body text-center p-0">
                                                    <svg class="d-block user-select-none" width="100%" height="100%" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:2.125rem;text-anchor:middle">
                                                        <rect width="100%" height="100%" fill="#666"></rect>
                                                        <text x="50%" y="50%" fill="#fff" dy=".3em">@product.ProductName</text>
                                                    </svg>
                                                </div>
                                                <div class="card-footer">
                                                    <form>
                                                        <div class="input-group">
                                                            <input type="number" placeholder="Qty" value="1" class="form-control" />
                                                            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                        <div class="tab-pane" id="orders-tab" role="tabpanel">
                            @if (Model.AvailableOrders.Count <= 0)
                            {
                                <div class="alert alert-light mt-3 h4">
                                    No available orders.
                                </div>
                            }
                            else
                            {
                                <p>Orders show here</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row h-100 bg-white">
                    <div class="col-md-6 bg-white" style="--bs-bg-opacity: .2; padding: 0px;">
                        <div class="card bg-light h-100">
                            <div class="card-header"><i class="fa-solid fa-cart-shopping me-1"></i> Cart</div>
                            <div class="card-body">
                                <table class="table table-light table-striped">
                                    <thead>
                                        <tr>
                                            <th class="align-middle" width="10%">Qty</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th width="20%"> </th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr>
                                            <td>1</td>
                                            <td>Bread</td>
                                            <td>10.00</td>
                                            <td>
                                                <a class="btn btn-danger">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row h-50">
                            <div class="col bg-warning">
                                <span><i class="fa-solid fa-credit-card me-1"></i> Employee and Payment</span>
                            </div>
                        </div>
                        <div class="row h-50">
                            <div class="col bg-secondary">
                                <span><i class="fa-solid fa-calculator me-1"></i> Calculator</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-light mt-3 h4">
            Please sign in to access this page.
        </div>
    }
</div>
